# =============================================================================
# .gitignore
# =============================================================================
# Nonlinear Optimization Algorithms Multilang. Version 0.1
# =============================================================================
# Nonlinear programming algorithms as the (un-)constrained minimization
# problems with the focus on their numerical expression using various
# programming languages.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
# =============================================================================

# === Object files ============================================================
*.o
*.ko
*.obj
*.elf

# === Intermediates ===========================================================
*.d
*.mod

# === Precompiled headers =====================================================
*.gch
*.pch

# === Libraries ===============================================================
*.lib
*.a
*.la
*.lo

# === Shared objects (inc. Windows DLLs) ======================================
*.dll
*.so
*.so.*
*.dylib

# === Executables =============================================================
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
hooke
hooke-woods
target/
lib/

# === Debug files =============================================================
*.dSYM/

# =============================================================================
# vim:set nu:et:ts=4:sw=4:
# =============================================================================
