# =============================================================================
# .gitignore
# =============================================================================
# Nonlinear Optimization Algorithms Multilang. Version 0.1
# =============================================================================
# Nonlinear programming algorithms as the (un-)constrained minimization
# problems with the focus on their numerical expression using various
# programming languages.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
# =============================================================================

# === Object files ============================================================
*.o

# === Intermediates ===========================================================
*.d
*.mod
__pycache__/

# === Libraries ===============================================================
lib/
target/

# === Executables =============================================================
bin/

# =============================================================================
# vim:set nu:et:ts=4:sw=4:
# =============================================================================
